@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    margin: 60px;
}

.header {
    display: flex;
    justify-content: center;
}

.header-inv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

td, th{
    font-size: 18px;
}

i { 
    font-size: 20px;
    cursor: pointer;
}

.delete-msg {
    text-align: center;
}

.delete-footer {
    display: flex;
    justify-content: center;
    border-top: 0;
}